{%extends 'Users/index.html'%}
{%block content%}







<div class="jumbotron container">
    <h1>Sport </h1>
    {%for Sport in sport%}
    <ol>
        
    <li>  <a href="/Sport/{{Sport.name}}/">{{Sport.name}}</a> </li>  
    <li>  <a href="/Slots/{{Sport.name}}/">Book slot</a> </li>  
    
    
    </ol>
        


    {%endfor%}
    

</div>
<div class="jumbotron container">
    <h1>Court</h1>
    {%for Court in court%}
    <ol>
        
    <li>   {{Court.court_name}}</li>  
    <li>   {{Court.capacity}}</li>  

    
    </ol>
        


    {%endfor%}
    

</div>




<a href="{% url 'AddSport'%}">AddSport</a>
<a href="{% url 'AddCourt'%}">AddCourt</a>
<a href="{% url 'AddSlots'%}">AddTime Slots</a>
<a href="{% url 'slotlist'%}">see Slots</a>





{%endblock%}