{%extends 'Users/index.html'%}
{%block content%}
<br><br><br>
<div class="container mt-3" style="border:5px solid rgb(5, 5, 78); padding:30px;width:700px " >
<form method="POST" >
    {% csrf_token %}
    <label for="username"><h4 style="color:aliceblue">Username:</h4></label>
    <input type="text" name="user_name" placeholder="Username" class="form-control" style="width:500px">


    <label for="password"><h4 style="color:aliceblue">Password:</h4></label>
    <input type="password" name="password"  placeholder="Password"class="form-control" style="width:500px">
<br><br>
    <input type="submit" value="Login">


</form>
</div>









{%endblock%}